# General
.DS_Store

# React Native - Inspec Directory
## iOS
Inspec/ios/build/
Inspec/ios/**/*.pbxuser
Inspec/ios/!default.pbxuser
Inspec/ios/**/*.mode1v3
Inspec/ios/!default.mode1v3
Inspec/ios/**/*.mode2v3
Inspec/ios/!default.mode2v3
Inspec/ios/**/*.perspectivev3
Inspec/ios/!default.perspectivev3
Inspec/ios/xcuserdata
Inspec/ios/*.xccheckout
Inspec/ios/*.moved-aside
Inspec/ios/DerivedData
Inspec/ios/*.hmap
Inspec/ios/*.ipa
Inspec/ios/*.xcuserstate
Inspec/ios/**/.xcode.env.local

## Android
Inspec/android/build/
Inspec/android/app/build/
Inspec/android/.idea
Inspec/android/.gradle
Inspec/android/local.properties
Inspec/android/**/*.iml
Inspec/android/*.hprof
Inspec/android/**/.cxx/
Inspec/android/*.keystore
Inspec/android/!debug.keystore

## Node.js
Inspec/node_modules/
Inspec/npm-debug.log
Inspec/yarn-error.log

## Fastlane
Inspec/**/fastlane/report.xml
Inspec/**/fastlane/Preview.html
Inspec/**/fastlane/screenshots
Inspec/**/fastlane/test_output

## Bundle
Inspec/*.jsbundle

## CocoaPods
Inspec/ios/Pods/
Inspec/vendor/bundle/

## Metro
Inspec/.metro-health-check*

## Testing
Inspec/coverage

## Yarn
Inspec/.yarn/*
!Inspec/.yarn/patches
!Inspec/.yarn/plugins
!Inspec/.yarn/releases
!Inspec/.yarn/sdks
!Inspec/.yarn/versions

## Environment
Inspec/*.env

#NodeJS
Server/api/node_modules/
Server/api/logs/

# Linter
Server/api/dist/

# Environment
Server/api/*.env

# Images Stored
Server/api/images/

#Git backup
Inspec/.git-backup/
